.header {
  font-size: 4em;
}

#container {
  padding: 70px 0;
  text-align: center;
  background-color: slategray;
}

#answer {
  font-weight: bold;
  border: 5px solid black;
  display: inline-block;
}